.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.detail {
  background: #999999;
  height: 85vh;
  width: cal(100% - 40px);
  overflow: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (max-width: 64em) {
  .detail {
    height: 40vh;
  }
}

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root,
#layout-side {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-grow: 2;
}

#layout-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 2;
}

#layout-body header {
  background-color: #fff;
  padding-left: 20px;
  flex: 0 0 auto;
}

#layout-body main {
  flex: 1 0 auto;
  margin: 24px 16px;
  padding: 24px;
  background-color: #fff;
  min-height: 280px;
}

#layout-body footer {
  flex: 0 0 auto;
}
